<!DOCTYPE html>
<!-- Schablone des Eingabe-Formulars -->

<html><head><title>Abstimmung</title></head>
    <body style="font-family:arial;">

        <h2>Wer wird Fussballweltmeister 2022, @@username@@?</h2>
        <form action="SessionEndExample" method="GET" >
            <h3>Abstimmung hier:</h3>
            <input type="radio" name="tip" value="Deutschland"> Deutschland
            <br><input type="radio" name="tip" value="Brasilien"> Brasilien
            <br><input type="radio" name="tip" value="Frankreich"> Frankreich
            <br><br><input type="submit" value="Abgeben">
        </form>
    </body>
</html>
