<!DOCTYPE html>
<!-- Schablone zur Anzeige der Statistik -->

<html><head><title>Abstimmungsergebnisse</title></head>
    <body style="font-family:arial;">
        <h2>Bisherige Abstimmungsergebnisse, @@username@@!</h2>
        <table border=1><tr><th>Mannschaft</th><th># Stimmen</th></tr>
            <tr><td>Deutschland</td><td>@@de_count@@</td></tr>
            <tr><td>Brasilien</td><td>@@br_count@@</td></tr>
            <tr><td>Frankreich</td><td>@@fr_count@@</td></tr>
        </table>
    </body>
</html>
